<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.buy.mapper.BuyMapper">
    <resultMap id="buy" type="com.craft.backend_farm_hub.buy.dto.BuyDTO">
        <id column="BUY_NUM" property="buyNum" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="MEM_ID" property="memId" />
        <result column="BUY_DATE" property="buyDate" />
        <result column="BUY_CNT" property="buyCnt" />
        <result column="ORDER_NUM" property="orderNum" />

        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="DAILY_TOTAL" property="dailyTotal" />

        <association property="itemDTO" resultMap="com.craft.backend_farm_hub.item.mapper.ItemMapper.items" />
        <association property="shopMemberDTO" resultMap="com.craft.backend_farm_hub.shop_member.mapper.ShopMemberMapper.member" />
    </resultMap>

    <!--상품 구매(item insert)-->
    <insert id="buyItem">
        INSERT INTO SHOP_BUY (
            ITEM_NUM
            , MEM_ID
            , BUY_CNT
            , ORDER_NUM
        ) VALUES (
            #{itemNum}
            , #{memId}
            , #{buyCnt}
            , (SELECT IFNULL(MAX(ORDER_NUM), 0) + 1 FROM SHOP_BUY)
        )
    </insert>

    <select id="selectBuyforMember" resultMap="buy">
        SELECT MEM_ID, BUY_NUM, SHOP_BUY.ITEM_NUM, BUY_CNT, ITEM_NAME, PRICE, BUY_CNT*PRICE AS TOTAL_PRICE, ATTACHED_IMG_NAME, BUY_DATE
        FROM SHOP_BUY LEFT OUTER JOIN ITEM
        ON SHOP_BUY.ITEM_NUM = ITEM.ITEM_NUM
        INNER JOIN ITEM_IMG
        ON SHOP_BUY.ITEM_NUM = ITEM_IMG.ITEM_NUM
        WHERE IS_MAIN = 'Y' AND MEM_ID = #{memId}
        ORDER BY BUY_DATE DESC
    </select>

    <select id="selectSales" resultMap="buy">
        SELECT BUY_NUM, SHOP_BUY.ITEM_NUM, MEM_ID, BUY_DATE, BUY_CNT, ORDER_NUM, ITEM_NAME, BUY_CNT*PRICE AS TOTAL_PRICE,
        SUM(BUY_CNT*PRICE) OVER (PARTITION BY DATE(BUY_DATE)) AS DAILY_TOTAL
        FROM SHOP_BUY
        INNER JOIN ITEM ON SHOP_BUY.ITEM_NUM = ITEM.ITEM_NUM
        ORDER BY BUY_DATE DESC
    </select>

    <select id="selectSalesOne" resultMap="buy">
        SELECT SHOP_BUY.MEM_ID, BUY_NUM, SHOP_BUY.ITEM_NUM, BUY_CNT, ITEM_NAME, PRICE,
        BUY_CNT*PRICE AS TOTAL_PRICE, ATTACHED_IMG_NAME, BUY_DATE,
        MEM_NAME, MEM_TEL, MEM_EMAIL, MEM_ADDR, ADDR_DETAIL
        FROM SHOP_BUY
        INNER JOIN ITEM ON SHOP_BUY.ITEM_NUM = ITEM.ITEM_NUM
        INNER JOIN ITEM_IMG ON SHOP_BUY.ITEM_NUM = ITEM_IMG.ITEM_NUM AND IS_MAIN = 'Y'
        INNER JOIN SHOP_MEMBER ON shop_buy.MEM_ID = shop_member.MEM_ID
        WHERE SHOP_BUY.BUY_NUM = #{buyNum}
    </select>

    <!--장바구니 페이지 - 구매하기-->
    <!--장바구니 페이지 - 체크된 데이터 구매하기-->
    <insert id="buyCartItem">
        INSERT INTO shop_buy (
            ITEM_NUM
            , MEM_ID
            , BUY_CNT
            , ORDER_NUM
        )
        VALUES
        <foreach collection="cartNumList" item="cartNum" separator=",">
            (
                (SELECT ITEM_NUM FROM shop_cart WHERE CART_NUM = #{cartNum})
                , #{memId}
                , (SELECT CART_CNT FROM shop_cart WHERE CART_NUM = #{cartNum})
                , (SELECT IFNULL(MAX(ORDER_NUM), 0) + 1 FROM SHOP_BUY)
            )
        </foreach>
    </insert>
    <!--각 행의 장바구니 데이터 구매-->
    <insert id="buyEachCartItem">
        INSERT INTO SHOP_BUY (
            ITEM_NUM
            , MEM_ID
            , BUY_CNT
            , ORDER_NUM
        )
        SELECT 
            sc.ITEM_NUM
            , #{memId}
            , sc.CART_CNT
            , (SELECT IFNULL(MAX(ORDER_NUM), 0) + 1 FROM SHOP_BUY)
        FROM SHOP_CART sc
        WHERE sc.CART_NUM = #{cartNum}
    </insert>

    <!--    주문 취소-->
    <delete id="deleteBuy">
        DELETE FROM SHOP_BUY
        WHERE BUY_NUM = #{buyNum}
    </delete>



</mapper>