<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.craft.backend_farm_hub.cart.mapper.CartMapper">
    <resultMap id="cart" type="com.craft.backend_farm_hub.cart.dto.CartDTO">
        <id column="CART_NUM"  property="cartNum" />
        <result column="ITEM_NUM" property="itemNum" />
        <result column="CART_CNT" property="cartCnt" />
        <result column="MEM_ID" property="memId" />
        <result column="TOTAL_PRICE" property="totalPrice" />
        <result column="CART_DATE" property="cartDate" />
        <!--        장바구니에는 상품이 하나 들어가있다 -->
        <association property="itemDTO" resultMap="com.craft.backend_farm_hub.item.mapper.ItemMapper.items" />
    </resultMap>
    <!--장바구니에 상품 담기-->
    <insert id="insertCart">
        INSERT INTO SHOP_CART (
            ITEM_NUM
            , CART_CNT
            , MEM_ID
            , TOTAL_PRICE
        ) VALUES (
            #{itemNum}
            , #{cartCnt}
            , #{memId}
            , IFNULL((
                SELECT PRICE
                FROM ITEM
                WHERE ITEM_NUM = #{itemNum}
            ), 0) * #{cartCnt}
        )
    </insert>
    <!--카트에 담은 상품이 중복인지 조회-->
    <select id="findDup" resultType="String">
        SELECT MEM_ID
        FROM SHOP_CART
        WHERE ITEM_NUM = #{itemNum}
        AND MEM_ID = #{memId}
    </select>
    <!--중복된 항목이 있으면 수량만 변경하는 쿼리-->
    <update id="updateCnt">
        UPDATE SHOP_CART
        SET
            CART_CNT = CART_CNT + #{cartCnt}
            , TOTAL_PRICE = TOTAL_PRICE + (
                IFNULL((
                    SELECT PRICE
                    FROM ITEM
                    WHERE ITEM_NUM = #{itemNum}
                ), 0) * #{cartCnt}
            )
        WHERE MEM_ID = #{memId}
        AND ITEM_NUM = #{itemNum}
    </update>
    <!--장바구니 상품 목록 조회-->
    <select id="getCartList" resultMap="cart">
        SELECT
            CART_NUM
            , C.ITEM_NUM
            , ITEM_NAME
            , CART_CNT
            , TOTAL_PRICE
            , CART_DATE
            , PRICE
        FROM shop_cart C
        INNER JOIN item I
        ON C.ITEM_NUM = I.ITEM_NUM
        INNER JOIN shop_member M
        ON M.MEM_ID = C.MEM_ID
        WHERE M.MEM_ID = #{memId}
    </select>

    <!--장바구니에 담은 상품의 수량 변경-->
    <update id="updateCartCnt">
        UPDATE shop_cart
        SET
            CART_CNT = #{cartCnt}
            , TOTAL_PRICE = IFNULL((SELECT PRICE
                            FROM ITEM
                            WHERE ITEM_NUM = #{itemNum}
                            ), 0) * #{cartCnt}
        WHERE MEM_ID = #{memId}
        AND ITEM_NUM = #{itemNum}
    </update>

    <!--장바구니 삭제-->
    <delete id="deleteCart">
        DELETE FROM SHOP_CART
        WHERE CART_NUM = #{cartNum}
    </delete>

    <!--장바구니 페이지에서 선택구매 시 장바구니 삭제-->
    <delete id="deleteBoughtItem">
        DELETE FROM SHOP_CART
        WHERE CART_NUM IN
        <foreach collection="cartNumList" item="cartNum" separator="," open="(" close=")">
            #{cartNum}
        </foreach>
    </delete>
    <delete id="deleteBoughtEach">
        DELETE FROM SHOP_CART
        WHERE CART_NUM = #{cartNum}
    </delete>
</mapper>