.common_btn {
  color: white;
  border: none;
  padding: 3px;
  border-radius: 5px;
  transition: all 0.4s; 
}

.common_btn:hover {
  cursor: pointer;
}

.grey{
  background-color: #69727a;
}

.grey:hover{
  cursor: pointer;
  background-color: #7a838b;  
}

.green {
  background-color: #008000;
}

.green:hover {
  background-color: #006b00;
  transition: all 1s;
}

.brown {
  background-color: brown;
}

.brown:hover {
  background-color: rgb(139, 36, 36);
  transition: all 1s;
}

.gray {
  background-color: gray;
}

.gray:hover {
  background-color: rgb(105, 105, 105);
  transition: all 1s;
}

.red {
  background-color: #ef4444;
}

.red:hover {
  background-color: #e98181;
  transition: all 1s;
}

/* 비활성화 되었을 때  */
.disabled{
  opacity: 0.5;
  cursor: default !important;
  /* !important - 우선순위 높게 */
}